{% extends 'base.html.twig' %}

{% block title %}Hello AddImageController!{% endblock %}

{% block body %}
    <h1></h1>
    {{ form_start(form) }}
    {{ form_row(form.name) }}
    <button class="btn">Submit</button>
    {{ form_end(form) }}
{% endblock %}
